service vendor.nfc_hal_service /vendor/bin/hw/android.hardware.nfc_snxxx@1.2-service
    disabled
    class hal
    user nfc
    group nfc

on property:ro.boot.product.hardware.sku=sn110t
    start vendor.nfc_hal_service

on property:ro.boot.nfc.feature.chipname=NXP_SN100U
    start vendor.nfc_hal_service